table#menu-edit-items td,
table#menu-edit-items th {
  vertical-align: top;
  text-transform: none;
}

table#menu-edit-items input[type="text"] {
  width: 95%;
}

table#menu-edit-items .menu-enabled input {
  margin-left: 0;
}
